<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Input</title>
    <link rel="stylesheet" href="css/input.css" />
  </head>
  <body>
    <form class="search-container" action="/" method="post">
      <input
        type="text"
        id="search-bar"
        name="city"
        placeholder="Enter a city"
        autocomplete="off"
        formmethod="post"
      />
      <a href="#"
        ><img
          class="search-icon"
          src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"
      /></a>
    </form>
    <script src="input.js"></script>
  </body>
</html>
